<nav>
  <a href="{% url 'movie_review:index' %}">
    Homepage
  </a>
  <a href="{% url 'movie_review:movie_list' %}">
    Movies
  </a>
  <a href="{% url 'movie_review:review_list' %}">
    Reviews
  </a>
  {% if user.is_authenticated %}
    <p>
      Hello,
      <a href="{% url 'movie_review:viewer_detail' pk=user.id %}">
        {{ user.username }}
      </a>
    </p>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
  {% else %}
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <button type="submit">Login</button>
    </form>
  {% endif %}

</nav>