{% extends "base.html" %}
{% block content %}
  <h1>Welcome to Movie Review</h1>
  <p>The website to share your reviews on movies with everyone!</p>
  <h2>We have...</h2>
  <ul>
    <li>{{ num_movies }} Movie{{ num_movies|pluralize }}</li>
    <li>{{ num_reviews }} Review{{ num_reviews|pluralize }}</li>
  </ul>
  <h2>...on our webpage!</h2>

  <div>
    <h3>Latest Movies:</h3>
    {% if last_three_movies %}
      {% for movie in last_three_movies %}
        <div>
          <h4>
            <a href="{% url 'movie_review:movie_detail' pk=movie.id %}">
              {{ movie.name }} ({{ movie.year }})
            </a>
          </h4>
          {% if movie.avg_rating > 0 %}
            <p>{{ movie.format_avg }}</p>
          {% else %}
            <p>Movie is not rated yet.</p>
          {% endif %}
        </div>
      {% endfor %}
    {% else %}
      <p>No Movies yet.</p>
    {% endif %}
  </div>

  <div>
    <h3>Latest Reviews:</h3>
    {% if last_three_reviews %}
      {% for review in last_three_reviews %}
        <div>
          <h4>
            <a href="{% url 'movie_review:review_detail' pk=review.id %}">
              {{ review.title }} by {{ review.author.username }}
            </a>
          </h4>
          <p>for {{ review.movie }} with {{ review.rating }} star rating</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No Reviews yet.</p>
    {% endif %}
  </div>

  <hr>
  <p>Want to know hom many times you've visited us?</p>
  <p>You've been with us {{ num_visits }} time{{ num_visits|pluralize }}!</p>
{% endblock %}