{% extends "base.html" %}
{% block content %}
  <h1>Movie List</h1>
  <a href="{% url 'movie_review:movie_create' %}">Add a movie</a>
  {% if movie_list %}
    {% for movie in movie_list %}
      <div>
        <h2>
          <a href="{% url 'movie_review:movie_detail' pk=movie.id %}">
            {{movie.name}} ({{ movie.year }})
          </a>
        </h2>
        {% if movie.avg_rating == 0.0 %}
          <p>Not yet rated.</p>
        {% else %}
        <p>with average rating of {{ movie.avg_rating }}</p>
        {% endif %}
        <hr>
        <p>{{ movie.reviews.count }} review{{ movie.reviews.count|pluralize }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>No Movies yet!</p>
  {% endif %}
{% endblock %}