{% extends "base.html" %}

{% block content %}

  <h1>{{ movie.name }}</h1>
  <h2>Release year: {{ movie.year }}</h2>
  <hr>
  <p>Average rating of the movie: {{ movie.format_avg }}</p>
  <hr>
  <a href="{% url 'movie_review:movie_update' pk=movie.id %}">
    Edit
  </a>
  <a href="{% url 'movie_review:movie_delete' pk=movie.id %}">
    Delete
  </a>
  <hr>
  <h3>Reviews:</h3>
  <div>
    {% if movie.reviews.all %}
      {% for review in movie.reviews.all %}
        <div>
          <h4>
            <a href="{% url 'movie_review:review_detail' pk=review.id %}">
              {{ review.title }} ({{ review.author.username }})
            </a>
          </h4>
          <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
          <p>Comments: {{ review.comments.count }}</p>
        </div>
      {% endfor %}
    {% else %}
      <p>No reviews yet!</p>
    {% endif %}
  </div>

{% endblock %}