{% extends "base.html" %}
{% block content %}
  <h1>Review List</h1>
  <a href="{% url 'movie_review:review_create' %}">Leave a Review</a>
  {% if review_list %}
    {% for review in review_list %}
      <div>
        <h2>
          {{ review.title }} (by {{ review.author.first_name }} {{ review.author.last_name }})
        </h2>
        <p>for {{ review.movie.name }} with {{ review.rating }} star rating</p>
        <hr>
        <p>{{ review.comments.count }} comment{{ review.comments.count|pluralize }}</p>
      </div>
    {% endfor %}
  {% else %}
    <p>No Reviews yet!</p>
  {% endif %}
{% endblock %}